<div class="lyt-content_sidebar">

  <div class="sidebar-controls">

    <div class="sidebar-controls_section mt-0">
      Action:<br>
      <div class="btn-group btn-group-sm mt-2 mb-3" role="group">
        <button type="button"
                [class.active]="!currentActionDelete"
                (click)="changeAction(false)"
                class="btn btn-outline-secondary">Edit</button>
        <button type="button"
                [class.active]="currentActionDelete"
                [class.btn-outline-danger]="currentActionDelete"
                (click)="changeAction(true)"
                class="btn btn-outline-secondary">Delete</button>
      </div>
      Range:
      <div class="btn-group btn-group-sm mt-2 mb-3" role="group">
        <button type="button"
                [class.active]="currentRange === '1'"
                (click)="changeRange('1')"
                class="btn btn-outline-secondary">Day</button>
        <button type="button"
                [class.active]="currentRange === '1-5'"
                (click)="changeRange('1-5')"
                class="btn btn-outline-secondary">Mo-Fr</button>
        <button type="button"
                [class.active]="currentRange === '6,7'"
                (click)="changeRange('6,7')"
                class="btn btn-outline-secondary">Sa, Su</button>
        <button type="button"
                [class.active]="currentRange === '7'"
                (click)="changeRange('7')"
                class="btn btn-outline-secondary">Week</button>
      </div>
      Часы:
      <br>
      <div class="btn-group btn-group-sm mt-2" role="group">
        <button type="button"
                [class.active]="hourlyRange"
                (click)="setHourly(true)"
                class="btn btn-outline-secondary">Hourly</button>
        <button type="button"
                [class.active]="!hourlyRange"
                (click)="setHourly(false)"
                class="btn btn-outline-secondary">Each hour
              </button>
      </div>
      <div class="form-group mt-3">
          Block length: <input type="number" min="1" max="999" class="form-control form-control-sm d-inline-block ml-2 mr-1" style="width: 50px;" id="defaultLength" [(ngModel)]="secondsValue">s
      </div>
    </div>


    <div class="sidebar-controls_section text-center">
      <div class="btn-group btn-group-sm mt-2 mb-3" role="group">
        <button type="button"
                (click)="undo()"
                title="Ctrl+Z"
                [disabled]="history.past.length < 1"
                class="btn btn-outline-secondary">Undo</button>
        <button type="button"
                (click)="redo()"
                title="Ctrl+Y"
                [disabled]="history.future.length < 1"
                class="btn btn-outline-secondary">Redo</button>
      </div>

      <div class="btn-toolbar justify-content-center mb-2" role="toolbar">
        <button type="button" (click)="resetChanges()" class="btn btn-sm btn-outline-danger mr-2">Reset</button>
        <button type="button" (click)="saveChanges()" class="btn btn-sm btn-primary">Save</button>
      </div>
    </div>

  </div>

  <app-copyright></app-copyright>
</div>

<div class="lyt-content_body">
  <h3>Edit schedule template</h3>
  <div class="playlist mt-4" [ngClass]="state.class">
    <div class="playlist-head">
      <div class="playlist-head_item"></div>
      <div class="playlist-head_item" *ngFor="let colname of settings.dayNames; index as i;">
        {{ colname }}
      </div>
    </div>

    <div class="playlist-body" *ngIf="playlist">

      <div class="playlist-rowwrap" *ngFor="let row of playlist; index as a;">


        <div class="playlist-row" [attr.id]="'playlist-row-'+a" [class.active]="row.opened">

          <div class="playlist-cell is-time">
            {{ (a < 10) ? '0' + a : a }}:00
            <div class="playlist-row_toggle" (click)="toggleRowView( a )">
              <i class="material-icons md-14">{{row.opened ? 'expand_less' : 'expand_more'}}</i>
            </div>
          </div>

          <div class="playlist-cell" *ngFor="let day of row.data; index as i;">

            <app-playlist-item class="playlist-cell_item"
              *ngFor="let item of day; index as j;"
              [class.active]="item.edited"
              [rowOpened]="row.opened"
              [state]="state"
              [indexes]="{row:a,cell:i,item:j}"
              [item]="item">

              </app-playlist-item>

          </div>
        </div>


        <div class="playlist-row-controls">
          <div class="playlist-row-controls-cell">
            <button type="button"
                    (click)="onItemsInsert(a)"
                    (mouseenter)="onMouseControlsRowEnter(a)"
                    (mouseleave)="onMouseControlsRowLeave(a)"
                    class="btn btn-sm btn-outline-secondary">+</button>
          </div>
          <div class="playlist-row-controls-cell" *ngFor="let colname of settings.dayNames; index as i;">
            <div class="playlist-dummy_item"
                 [ngClass]="{'is-hovered': highlightDummyItems(a, i) }">
              <div class="playlist-dummy_item-ouput">
                <div class="item-output_time">
                  {{ (a < 10) ? '0' + a : a }} :
                  <input type="text" class="form-control form-control-sm d-inline-block" style="width: 22px" [(ngModel)]="newItemMinutes" mask="00">
                </div>
                <div class="item-output_duration">
                  {{ knobValue }} s
                </div>
              </div>
              <button type="button"
                      (click)="onItemsInsert(a, i)"
                      (mouseenter)="onMouseControlsRowEnter(a, i)"
                      (mouseleave)="onMouseControlsRowLeave(a, i)"
                      class="btn btn-block btn-sm btn-outline-secondary mt-1 button-for-day">+</button>
            </div>
          </div>
        </div>


      </div>

    </div>
  </div>

</div>
