
<form (click)="onClick(item, indexes)"
     (mouseenter)="onMouseEnter()"
     (mouseleave)="onMouseLeave()"
     autocomplete="off"
     [ngClass]="{'is-hovered': isEditTarget, 'is-main': item.isMain, 'is-hovered-delete': isDeleteTarget }"
     class="playlist-cell_item-form"
     #itemForm="ngForm">

    <ng-container *ngIf="item.isMain">
      <input type="text"
             name="blockStart"
             autocomplete="off"
             [mask]="timeMask"
             (keyup)="emitEdited(itemForm.value)"
             (blur)="onSubmit(itemForm.value)"
             [patterns]="customPatterns"
             [ngModel]="item.blockStart | secondsToTime: 'HH:mm:ss'">

      <input type="text"
             name="duration"
             autocomplete="off"
             mask="000"
             (keyup)="emitEdited(itemForm.value)"
             (blur)="onSubmit(itemForm.value)"
             [(ngModel)]="item.duration">
    </ng-container>

    <ng-container *ngIf="!item.isMain">
      <div class="item-output">{{ item.blockStart | secondsToTime: 'HH:mm:ss'}}</div>
      <div class="item-output">{{ item.duration }}</div>
    </ng-container>

    <div class="playlist-cell_item-label">s</div>
</form>